networkx~=2.8.6
matplotlib~=3.6.0
setuptools~=60.2.0
mysql-connector-python~=8.0.30
fastapi~=0.87.0
uvicorn~=0.15.0
requests~=2.28.1
aiofiles~=22.1.0
python-multipart~=0.0.5
ibm-db==3.1.2
urllib3~=1.26.12
python-dateutil~=2.8.2