networkx~=2.8.6
setuptools~=60.2.0
mysql-connector-python~=8.0.30
fastapi==0.94.1
cx_Oracle==8.3.0
uvicorn~=0.22.0
requests~=2.28.1
aiofiles~=22.1.0
python-multipart~=0.0.5
ibm-db==3.1.2
urllib3~=1.26.12
python-dateutil~=2.8.2
pip~=23.2.1
wheel~=0.41.2
pillow~=10.4.0
packaging~=24.1
pyparsing~=3.1.2
typing_extensions~=4.12.2
SQLAlchemy~=2.0.34
psycopg2-binary~=2.9.9
appdynamics==23.8.0.6197
